/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
PROBLEM.html
.envPSgress.txt
resources/js/like.js.bak
resources/js/like.js
resources/views/admin/permissions/create.blade.php
resources/views/admin/permissions/edit.blade.php
resources/views/admin/permissions/index.blade.php
resources/views/admin/permissions/show.blade.php
resources/views/admin/roles/create.blade.php
resources/views/admin/roles/edit.blade.php
resources/views/admin/roles/index.blade.php
resources/views/admin/roles/show.blade.php
